.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #808183;
    color: white;
    text-align: center;
  }

.positions-btn {
    position: absolute;
    top: 0;
    left: 0;
  }

.bids-btn {
    position: absolute;
    top: 0;
    right: 0;
  }
