.tridentlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.ticker {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
